.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: black solid 1px;
    flex-wrap: wrap;
}


@media screen and (max-width: 830px) {
    .container {
        width: 100%;
    }
}