.mainBlock {
    border: black 1px solid;
    height: 100vh;
    background-color: aquamarine;

}

.text {
    width: 350px;
    background-color: #f3ecec;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #f3ecec;
}

.mainContainer {

    border: black 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


@media screen and (max-width: 830px) {
    .mainContainer {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

    }
}