.projectsWrapper {
    height: 100vh;
    background-color: #9854e0;

}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    border: black 1px solid;
 }


.title {
    background-color: #a27dc4;

}

.projects {
    border: black 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .projects {
        width: 100%;
        justify-content: center;
    }
}